body {
font-family: sans-serif;
margin:0; padding:0;
background:url(/images/backg.jpg) center;
background-repeat: repeat-y;
}

h3 {
    text-align:center;
    font-style:italic;
}

#dtheader {
    width: 800px;
    margin-left:auto;
    margin-right: auto;
}

#dtheader <p> {
    font-size:16px;
    font-style:italic;
    width:700px;
    color:#00F;
    text-align:center;
}

.divheight {
    height:100%;
    margin-top:20px;
    clear: both;
}

#dtlink {
    float:left;
    padding-left:75px;
}

img {
    border:none;
}

div p {
    margin-left:315px;
}

span {
    font-weight:bold;
}

#ludology {
    padding-top:25px;
    float:left;
    width:300px;
    clear:left;

}

#htp {
    padding-top:65px;
    float:left;
    width:300px;
}

#lmds {
    float:left;
    padding-top:55px;
    width:300px;
}

#obg {
    float:left;
    padding-top:10px;
    width:300px;
}

#drak {
    float:left;
    padding-top:10px;
    width:300px;
}

#phg {
    float:left;
    width:150px;
    margin-left:75px;
}

#njapg {
    float:left;
    margin-left:75px;
    width:150px;
    clear:left;
}

#susd {
    padding-top:35px;
    float:left;
    width:300px;
    clear:left;
}

.p5paddingtop {
    padding-top:5px;
}

#gameopolis{
	padding-top:35px;
	float:left;
    width:300px;
}

#castelli{

	float:left;
    width:300px;
}

#secretcabal{
	float:left;
	padding-left:75px;
	width:150px;
	padding-top:20px;
}
#flipthetable {
	float:left;
    margin-left:75px;
    width:150px;
    clear:left;
	padding-top:20px;
}
#cardboardjungle{
	float:left;
    margin-left:100px;
    width:100px;
    clear:left;
}
#cardboardjunglep{
	padding-top:7px;
}
#d6 {
	float:left;
    margin-left:70px;
    width:160px;
    clear:left;
}
#d6p {
	padding-top:35px;
}
#gameratlas {
	float:left;
    margin-left:70px;
    width:160px;
    clear:left;
	padding-top:15px;
}
#gameratlasp {
	padding-top:55px;
}
#longview {
	float:left;
    margin-left:70px;
    width:160px;
    clear:left;
	padding-top:15px;
}
#longviewp {
	
}
#hex{
	float:left;
    margin-left:60px;
    width:160px;
    clear:left;
	padding-top:15px;
}
#spiel {
	float:left;
    margin-left:40px;
    width:225px;
    clear:left;
	padding-top:35px;
}
#geekallstars{
	float:left;
    margin-left:60px;
    width:160px;
    clear:left;
	padding-top:25px;
}
#rollingdice{
	float:left;
    margin-left:35px;
    width:220px;
    clear:left;
	padding-top:25px;
}
#partygamecast{
	float:left;
    margin-left:35px;
    width:220px;
    clear:left;
	padding-top:18px;
}
#snakescast{
	float:left;
    margin-left:35px;
    width:220px;
    clear:left;
	padding-top:13px;
}
#explorgames{
	float:left;
    margin-left:35px;
    width:220px;
    clear:left;
}
#explorgamesp{
	padding-top:30px;
}
.secondspan	{
	margin-left:15px;
}
#adbanner{
	margin-left:42px;
	border: 1px solid black;
	padding:4px;
}
#bluepeg{
	margin-top:30px;
	float:left;
    margin-left:35px;
    width:230px;
    clear:left;
}
#bluepegp{
	padding-top:28px;
}
#bgu{
	margin-top:30px;
	float:left;
    margin-left:35px;
    width:230px;
    clear:left;
}
#bgup{
	padding-top:75px;
}
#dts{
	float:left;
    margin-left:27px;
    width:230px;
    clear:left;
}
#dtsp{
	padding-top:50px;
}
#hm{
	float:left;
    margin-left:42px;
    width:225px;
    clear:left;
}
#hmp{
	padding-top:12px;
}